<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Angular Forms
    </div>
    <div class="panel-body">
      <form #form="ngForm" novalidate (submit)="submitForm(form)">
        <div class="form-group" [class.has-error]="firstName.invalid">
           <label for="firstname" class="control-label">FirstName</label>
           <input type="text" placeholder="firstName" class="form-control"
           id="firstname" name="firstName" [ngModel]="model.firstName"
           #firstName="ngModel"  required
           (ngModelChange)="firstToUpper($event)">
           <div class="alert alert-danger" *ngIf="firstName.invalid">
             First Name is required
           </div>
        </div>
        <h3>Classes</h3>
        <h3>{{firstName.invalid}}</h3>
        <div class="form-group" [class.has-error]="password.invalid">
            <label for="password" class="control-label">Password</label>
            <input type="password" placeholder="password" class="form-control"
            id="password" name="password" [(ngModel)]="model.password"
            #password="ngModel" minlength="3" required>
            <div class="alert alert-danger" *ngIf="password.invalid">
              Password is required & Min length of password Should be 3
            </div>
        </div>
        <div class="form-group" [class.has-error]="phone.invalid">
          <label for="phone" class="control-label">Phone</label>
          <input type="tel" placeholder="password" class="form-control"
          id="phone" name="phone" [(ngModel)]="model.phone"
          #phone="ngModel" pattern="[0-9]{10}">
          <div class="alert alert-danger" *ngIf="phone.invalid">
            Phone number is not valid
          </div>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="fullTime" checked [(ngModel)]="model.fullTime">FullTime
          </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="gender" value="female" [(ngModel)]="model.gender" checked>Female
            </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="gender" value="male" [(ngModel)]="model.gender">Male
          </label>
        </div>
        <div class="form-group" [class.has-error]="hasCodeLangError">
          <label>Code Lang</label>
          <div class="alert alert-danger" *ngIf="hasCodeLangError">
            Select Valid Option
          </div>
          <select class="form-control"
            name="codeLang" [(ngModel)]="model.codeLang"
            (blur)="validateCodeLang($event)">
            <option value="default">Select Code Lang</option>
            <option *ngFor="let lang of languages">
              {{lang}}
            </option>
           
          </select>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
     Model: {{model|json}}
     <br/>
     Angular:{{form.value|json}}
    </div>
  </div>
</div>